.errMsgContainer {
  position: absolute;
  top: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: red;
  padding: 10px !important;
  .errorMsg {
    font-family: SourceSansPro;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 2.1;
    color: white;
  }
  .close {
    color: white;
    font-size: 10px;
    padding: 5px 0 0 10px;
  }
}
