.cardsContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.arrow{
   
    width: 10%;
    display: flex;
    align-self: center;
}
.arrow>span{
    margin: auto;
}
.cardsCarousal{
    width: 80%;
   
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.cardsCarousal >div{
    border: 1px solid grey;
    display: inline-block;
    margin-left: 20px;
    width: 250px;
    display: inline-block;
}
.cardsCarousal > div:last-child{
    margin-right: 20px;
}
.heading {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 32px;
}